.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5em;
}

.contact-item {
  font-size: larger;
}

.logo {
  box-sizing: inherit;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.stealth-90 {
  color: rgb(12, 12, 12);
}
