.blog-container {
  display: flex;
  align-items: center;
  outline: solid black;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
}

.blog-bread-crumbs, .blog-selector {
  padding: 1em;
  margin-left: 1em;
  font-size: large;
}

.blog-selector {
  margin-left: 2em;
}

.inline-blog-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.blog-intro-container {
  border-radius: 1em;
  margin-right: 1em;
  margin-left: 1em;
  width: 50%;
}

.blog-intro {
  margin: 1em;
}

.blog-entry-list {
  font-size: large;
  margin: 1em;;
}

.extra-margin-right {
  margin-right: 2em;
}

.blog-title {
  font-size: x-large;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.blog-iframe {
  height: 130vh;
  width: 90vw;
  transform: scale( 0.9 );
}
